<div class="jumbotron">
  <h1><i class="fa fa-calendar-plus-o" aria-hidden="true"></i>  Taskr</h1>
  <p>Helping you to improve your productivity!</p>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg ' %>
</div>

